# Logs
*.log
logs/
*.tlg

# Visual Studio Code
.vscode/

# DotNet
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# MacOS
.DS_Store

# Linux
*.swp
*~

# Windows
Thumbs.db
ehthumbs.db
